html, body {
  height: 100%;
  min-height: 100%;
  font-family: 'Muli', sans-serif;
}

input,
textarea {
  font-family: 'Muli', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: inherit;
  min-height: 100%;
}

.App {
  flex: 1;
}

.App > .container {
  width: 1480px !important
}

.users {
  padding-right: 0 !important;
}

.users table {
  min-width: 153px;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.users table td {
  cursor: pointer;
  white-space: nowrap;
}

.users table thead th:not([rowspan]) {
  color: #f9fafb;
  width: 0;
  max-width: 0;
  min-width: 0;
  padding: 0;
  height: 46px;
}

.pushups {
  padding-left: 0 !important;
  padding-right: 0 !important;
  overflow-x: auto;
}

.pushups table {
  border-left: none !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.users .table thead th,
.pushups .table thead th {
  text-align: center;
}

.highlight {
  background-color: rgba(0,0,0,.87);
  color: #fff;
  font-weight: bold;
}

.highlight--red {
  background-color: #ff7070 !important;
}

.is-current {
  background-color: #eee !important;
}

.training-list {
  list-style-type: none;
  font-size: 13px;
  font-weight: normal;
  padding: 0;
}

.notification {
  position: relative;
  position: fixed;
  bottom: 20px;
  background-color: rgba(0,0,0,.87);
  color: white;
  right: 20px;
  border-radius: 4px;
  padding: 16px 64px 16px 32px;
  font-size: 1.2em;
}

.notification .button {
  position: absolute;
  right: 8px;
  top: 8px;
}

.clickable {
  cursor: pointer !important;
}

.clickable:hover {
  background-color: #eee !important;
}

tr.hovered {
  background: rgba(0,0,0,.05)!important;
  color: rgba(0,0,0,.95)!important;
}

.ui.table td {
  padding: .6em !important;
}